@import url('../style.css');

.projects {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(15em, 1fr));
    gap: 1em;
}

article {
    display: grid; 
    grid-template-rows: subgrid; 
    grid-row: span2;
}

h1 {
    font-size: 200%; 
    margin: 0;
}

p {
    margin: 0.7rem;
}

h1, h2, h3, h4, h5, h6 {
    line-height: 1.1;
    text-wrap: balance;
}

h2, h3 {
    margin: 0.2rem; 
}

section {
    margin: 0.5rem;
}
